<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>home</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style th:include="base::base_style"></style>
    <body>
        <div th:include="base::header_body">
            <h1 th:text="#{title}">title</h1>
        </div>
        <div class="contents">
            <p th:text="${userId}">name</p>
            <p><a href="/list"><button name="to_list" >ことばを見る</button></a></p>
            <p><a href="/words/register"><button name="to_register" >ことばを残す</button></a></p>
            <p><a href="/list"><button name="to_square" >ことばの広場</button></a></p>
            <p><a href="/words/today"><button name="to_today" >今日のことば</button></a></p>
            <p><a href="/login"><button name="logout" >ログアウト</button></a></p>
        </div>
        <div th:include="base::footer_body">
            <img src="" alt="footer image">
        </div>
    </body>
</html>