<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>ログイン</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style>
        h1 {
            font-size: 18pt;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
    </style>
    <body>
        <div class="header">
            <h1>Worth Words</h1>
        </div>
        <div class="contents">
            <p>name</p>
            <p><a href="/list"><button name="to_list" >ことばを見る</button></a></p>
            <p><a href="/register"><button name="to_register" >ことばを残す</button></a></p>
            <p><a href="/list"><button name="to_square" >ことばの広場</button></a></p>
            <p><a href="/today"><button name="to_today" >今日のことば</button></a></p>
            <p><a href="/login"><button name="logout" >ログアウト</button></a></p>
        </div>
        <div class="footer">
            <img src="" alt="footer image">
        </div>
    </body>
</html>