<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>ログイン</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style>
        h1 {
            font-size: 18pt;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
    </style>
    <body>
        <div class="header">
            <h1>Worth Words</h1>
        </div>
        <div class="contents">
            <ul style="list-style:none">
                <li>
                    <a href="/word/read"><p>タイトル</p><p>日付</p></a>
                </li>
                <li>
                    <a href="/word/read"><p>タイトル</p><p>日付</p></a>
                </li>
                <li>
                    <a href="/word/read"><p>タイトル</p><p>日付</p></a>
                </li>
                <li>
                    <a href="/word/read"><p>タイトル</p><p>日付</p></a>
                </li>
            </ul>            
            <p><button type="submit" formaction="#" name="back">前へ</button></p>
            <p><button type="submit" formaction="#" name="foward">次へ</button></p>
            <p><a href="/home"><button name="home" >HOME</button></a></p>
        </div>
        <div class="footer">
            <img src="" alt="footer image">
        </div>
    </body>
</html>