<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>words list</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style th:include="base::base_style"></style>
    <body>
        <div th:include="base::header_body">
            <h1 th:text="#{title}">title</h1>
        </div>
        <div class="contents">
            <div>
                <form method="post" action="/list">
                    <select id="category" name="category" size="4">
                        <option value="person">人</option>
                        <option value="本">本</option>
                        <option value="映画">映画</option>
                        <option value="その他">その他</option>
                    </select>    
                    <input type="submit" value="click">
                </form>
                <p></p>
            </div>
            <div>
                <p th:text="${category}">category</p>
            </div>
            <ul style="list-style:none">
                <li th:each="words:${wordsList}">
                    <a th:href="@{'/words/read/{id}'(id=${words.id})}">
                        <p th:text="${words.title}">タイトル</p>
                        <p th:text="${words.wordsDate}">日付</p>
                    </a>
                </li>
            </ul>
            <p><button type="submit" formaction="#" name="back">前へ</button></p>
            <p><button type="submit" formaction="#" name="foward">次へ</button></p>
            <p><a href="/home"><button name="home" >HOME</button></a></p>
        </div>
        <div th:include="base::footer_body">
            <img src="" alt="footer image">
        </div>
    </body>
</html>