<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>login</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style>
        h1 {
            font-size: 18pt;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
    </style>
    <body>
        <div class="header">
            <h1 th:text="#{title}">title</h1>
        </div>
        <div class="contents">
            <p th:text="${msg}">HELLO</p>
            <form action="/login" method="post">
                <div>
                    <p><label for="id">ID</label></p>
                    <input type="text" name="id" placeholder="your id">
                </div>
                <div>
                    <p><value for="password">PASSWORD</value></p>
                    <input type="text" name="password" placeholder="PASSWORD">
                </div>
                <div>
                    <input type="submit" value="ログイン">
                </div>
            </form>
        </div>
        <div class="footer">
            <img src="" alt="footer image">
        </div>
    </body>
</html>