<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>words page</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style>
        h1 {
            font-size: 18pt;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
    </style>
    <body>
        <div class="header">
            <h1>Worth Words</h1>
        </div>
        <div class="contents">
            <div>
                <textarea name="words" rows="5" col="40" disabled>器は仕えることによって美を増し、主は使うことによって愛を増すのである。</textarea>
            </div>
            <div>
                <p><label for="source">出典</label></p>
                <input type="text" id="source" th:value="${source}" disabled>    
            </div>
            <div>
                <p><label for="date">日付</label></p>
                <input type="text" id="date" value="2020/11/22" disabled>    
            </div>
            <div>
                <p><label for="contributor">投稿者</label></p>
                <input type="text" id="contributor" value="kurikuto" disabled>    
            </div>
            <p><a href="/home"><button name="home" >HOME</button></a></p>
        </div>
        <div class="footer">
            <img src="" alt="footer image">
        </div>
    </body>
</html>