<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>words page</title>
        <meta http-equiv="Content-Type" content="text:html; charset=utf-8" />
    </header>
    <style th:include="base::base_style"></style>
    <body>
        <div th:include="base::header_body">
            <h1 th:text="#{title}">title</h1>
        </div>
        <div class="contents">
            <div th:object="${words}">
                <div>
                    <p><label for="title">タイトル</label></p>
                    <input type="text" id="title" th:value="*{title}" disabled>
                </div>
                <div>
                    <p><label for="source">ことば</label></p>
                    <textarea name="words" rows="5" col="40" th:text="*{words}" disabled>器は仕えることによって美を増し、主は使うことによって愛を増すのである。</textarea>
                </div>
                <div>
                    <p><label for="source">出典</label></p>
                    <input type="text" id="source" th:value="*{source}" disabled>    
                </div>
                <div>
                    <p><label for="date">日付</label></p>
                    <input type="text" id="date" th:value="*{wordsDate}" disabled>    
                </div>
                <div>
                    <p><label for="contributor">投稿者</label></p>
                    <input type="text" id="contributor" th:value="*{contributor}" disabled>    
                </div>    
            </div>
            <p><a href="/list"><button name="list" >戻る</button></a></p>
            <p><a href="/home"><button name="home" >HOME</button></a></p>
        </div>
        <div th:include="base::footer_body">
            <img src="" alt="footer image">
        </div>
    </body>
</html>